body {
  max-width: 624px;
}
.row {
  display: flex;
}
.parent {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.parent:last-of-type {
  margin-right: 10px;
}
.ratio11 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
}
.ratio11:last-of-type {
  margin-right: 10px;
}
.ratio12 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 50%;
}
.ratio12:last-of-type {
  margin-right: 10px;
}
.ratio13 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 33.33333333%;
}
.ratio13:last-of-type {
  margin-right: 10px;
}
.ratio14 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 25%;
}
.ratio14:last-of-type {
  margin-right: 10px;
}
.ratio18 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 12.5%;
}
.ratio18:last-of-type {
  margin-right: 10px;
}
.ratio23 {
  box-sizing: border-box;
  background-color: orange;
  float: left;
  padding: 10px;
  border: solid 2px;
  margin: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 66.66666667%;
}
.ratio23:last-of-type {
  margin-right: 10px;
}
